:root {
  --v-primary: #2e2e2e;
  --v-secondary: #84b933;
  --v-secondary-light: #96cc44;
  --v-accent: #ab2e68;
  --v-positive: #84b933;
  --v-negative: #cd4837;
  --v-info: #11518c;
  --v-warning: #f0b618;
  --v-dark: #1d1d1d;
  --v-dark-page: #121212;
  --v-border-radius: 4px;
}
